@using BiteTheBullet.DNN.Modules.BTBYahooWeather.Extensions;
@inherits DotNetNuke.Web.Razor.DotNetNukeWebPage<BiteTheBullet.DNN.Modules.BTBYahooWeather.Components.RazorModel.WeatherModel>

@{ var list = new Dictionary<string, int> {{"mark", 1}, {"test", 2}};}


@Html.DropDownListFor("ddlLocation", list, null)

<div class="simpleWeather">
	<h2>Conditons for @Model.Location.City, @Model.Location.Region</h2>
	<div>    
		<img src="http://us.i1.yimg.com/us.yimg.com/i/us/we/52/@(Model.CurrentCondition.Code).gif" alt="@Model.CurrentCondition.Caption"/>
		<p>@Model.CurrentCondition.Caption @(Model.CurrentCondition.Temperature)@(Model.Units.Temperature)</p>
	</div>
	<h3>Forecast</h3>
	<ul class="simpleForecastList">
		@foreach(var item in Model.Forecast){
		<li>
			<p>@item.Day</p>
			<img src="http://us.i1.yimg.com/us.yimg.com/i/us/we/52/@(item.Code).gif" alt="@item.Caption"/>
			<p>@(item.TempHigh)@(Model.Units.Temperature)</p>
			<p>@(item.TempLow)@(Model.Units.Temperature)</p>
		</li>
		}
	</ul>
</div>