@inherits DotNetNuke.Web.Razor.DotNetNukeWebPage<BiteTheBullet.DNN.Modules.BTBYahooWeather.Components.RazorModel.MainModel>

<div class="simpleWeather">
	<h2>Conditons for @Model.Weather.Location.City, @Model.Weather.Location.Region</h2>
	<div>    
		<img src="http://us.i1.yimg.com/us.yimg.com/i/us/we/52/@(Model.Weather.CurrentCondition.Code).gif" alt="@Model.Weather.CurrentCondition.Caption"/>
		<p>@Model.Weather.CurrentCondition.Caption @(Model.Weather.CurrentCondition.Temperature)&deg;@(Model.Weather.Units.Temperature)</p>
	</div>
	<h3>Forecast</h3>
	<ul class="simpleForecastList">
		@foreach(var item in Model.Weather.Forecast){
		<li>
			<p>@item.Day</p>
			<img src="http://us.i1.yimg.com/us.yimg.com/i/us/we/52/@(item.Code).gif" alt="@item.Caption"/>
			<p>@(item.TempHigh)&deg;@(Model.Weather.Units.Temperature)</p>
			<p>@(item.TempLow)&deg;@(Model.Weather.Units.Temperature)</p>
		</li>
		}
	</ul>
</div>